.filter {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 50px;
}

.filter-input {
  width: 250px;
  padding: 10px 15px;
  font-size: 16px;
  background-color: #ffff;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.filter-input:focus {
  outline: none;
  border-color: #7a5af8;
  box-shadow: 0 0 5px rgba(122, 90, 248, 0.5);
}

.filter-input::placeholder {
  color: #999;
}